<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑问卷</title>
    <script src="/static/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="...">
            </a>
        </div>
    </div>
</nav>
<div class="container radio">
    <div><button class="btn btn-primary  btn-sm" id="addqus">添加问题</button><button class="btn-sm btn btn-info " id="refer">提交</button></div>
    <form action="/questionnaire/edit/{{ cls }}/{{ qsnreid }}/" method="post" novalidate>
        {% csrf_token %}
        <ol class="list-group questions">


            {% for questions in result %}

            <li qustion_id="{{ questions.obj.id }}"  class="list-group-item">
                <ul>
                    <li>{{ questions.form.title.label }}{{ questions.form.title }}</li>
                    <li>{{ questions.form.tp.label }}{{ questions.form.tp }}<span class="btn btn-info addopt btn-xs {{ questions.option_class }}">添加选项</span></li>
                    {% for option in questions.options %}
                        <li option_id="{{ option.obj.id }}">{{ option.item.title }}{{ option.item.score }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}

        </ol>
    </form>
</div>
<script>
    $('#refer').click(function () {
        var renfer=[];
        $('ol > li').each(function () {
            var inner={'qustion_id':$(this).attr('qustion_id'),'options':[]};
            var count=0;
            $(this).children().children().each(function () {
                console.log(this);
                if (count ===0){
                    inner.title=$(this).children('input').val();

                }else if (count ===1){
                    inner.tp=$(this).children().children(':selected').val();
                    console.log(inner.tp=$(this).children().children(':selected').val())
                }else {
                    opitem={'option_id':$(this).attr('option_id')};
                    $(this).children('input').each(function () {
                        if ($(this).attr('name')=='title'){
                            opitem.title=$(this).val()
                        }else {
                            opitem.score=$(this).val()
                        }
                    });
                    inner.options.push(opitem)
                }
                count++;
            });
            renfer.push(inner);


        });
         console.log(renfer);


        $.ajax({
            url:$('form').attr('action'),
            type:"POST",
{#            headers:{"X-CSRFToken":$.cookie('csrftoken')},#}
            data:{
                "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
                'quetions':JSON.stringify(renfer)
            }
        })

    });
    $('#addqus').click(function () {
            //添加问题
        var ele=$('ol > li:first').clone().removeAttr('qustion_id');
        $('ol').append(ele);
        var s=0;
        $(ele).children().children().each(function () {

            if (s<2){
                $(this).children('input').val('')
            }else {
                $(this).remove()
            }
            s++;
        });

    });
    $('.questions').on('click', '.addopt', function () {
        //添加选项
        var ele='<li option_id="new"><input type="text" name="title" value="" placeholder="标题" class="form-inline" maxlength="64" required="" id="id_title"><input type="number" name="score" value="" required="" id="id_score"></li>';
        $(this).parent().parent().append(ele)
    });
    $('.questions').on('change', '[name="tp"]', function () {
        //更改类型
        if ($(this).val() != 2) {
            $(this).next().addClass('hide');
            $(this).parent().nextAll().remove();
        } else {
             $(this).next().removeClass('hide');
             var ele='<li option_id="new"><input type="text" name="title" value="" placeholder="标题" class="form-inline" maxlength="64" required="" id="id_title"><input type="number" name="score" value="" required="" id="id_score"></li>';
             $(this).parent().parent().append(ele)
        }
    })


</script>
</body>
</html>


